<div class="row text-center mb-3 mt-3">
    <div class="col" style="font-weight: bold">
        {{ pokemon.name | titlecase }}
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="progress">
            <div class="progress-bar {{ hpColor }}"
                 role="progressbar"
                 [attr.aria-valuenow]="pokemon.currentHp"
                 aria-valuemin="0"
                 [attr.aria-valuemax]="pokemon.maxHp"
                 style="width:{{ pokemon.currentHp * 100 / pokemon.maxHp }}%">

                {{pokemon.currentHp}}/{{pokemon.maxHp}}
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 mb-4">
    <div class="col text-center">
        <img src="{{ pokemon.imgLink }}" height="100px">
    </div>
</div>

<div class="row mb-2">
    <div class="col-6 text-center">
        <button (click)="removeHp()" class="btn btn-danger mr-2" [attr.disabled]="pokemon.currentHp <= 0 ? true : null">-</button>
    </div>
    <div class="col-6 text-center">
        <button (click)="addHp()" class="btn btn-success ml-2" [attr.disabled]="pokemon.currentHp == pokemon.maxHp ? true : null">+</button>
    </div>
</div>
