<div *ngIf="isLoaded">
    <h1 class="mt-4 text-center">Arena</h1>
    <div class="col border arena">
        <div class="row text-center mb-3 mt-3 poke1">
            <div class="col" style="font-weight: bold">
                <img class="poke1_img" [src]="firstPokemon.backImgLink" alt="Pokemon1">
                <span class="pokemon-name">{{ firstPokemon.name | titlecase }}</span>
                <div class="progress mt-2">
                    <div class="progress-bar {{ firstHpColor }}"
                        role="progressbar"
                        [attr.aria-valuenow]="firstPokemon.currentHp"
                        aria-valuemin="0"
                        [attr.aria-valuemax]="firstPokemon.maxHp"
                        style="width:{{ firstPokemon.currentHp * 100 / firstPokemon.maxHp }}%">
    
                        {{firstPokemon.currentHp}}/{{firstPokemon.maxHp}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mb-3 mt-3 poke2">
            <div class="col" style="font-weight: bold">
                <img class="poke2_img" [src]="secondPokemon.imgLink" alt="Pokemon2">
                <span class="pokemon-name">{{ secondPokemon.name | titlecase }}</span>
                <div class="progress mt-2">
                    <div class="progress-bar {{ secondHpColor }}"
                        role="progressbar"
                        [attr.aria-valuenow]="secondPokemon.currentHp"
                        aria-valuemin="0"
                        [attr.aria-valuemax]="secondPokemon.maxHp"
                        style="width:{{ secondPokemon.currentHp * 100 / secondPokemon.maxHp }}%">
    
                        {{secondPokemon.currentHp}}/{{secondPokemon.maxHp}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col border details_arena">
        <p class="mb-0" *ngFor="let line of history">
            {{ line }}
        </p>
    </div>
</div>

<div class="loader-poke" *ngIf="!isLoaded"></div>