.pokemon-name {
  color: #ffcb05;
  text-shadow: -2px -2px 0 #2a75bb, 2px -2px 0 #2a75bb, -2px 2px 0 #2a75bb, 2px 2px 0 #2a75bb;
  letter-spacing: .2rem;
}

.attack-name {
  color: #d35749;
  text-shadow: -2px -2px 0 #2a75bb, 2px -2px 0 #2a75bb, -2px 2px 0 #2a75bb, 2px 2px 0 #2a75bb;
  letter-spacing: .2rem;
}