<span class="m-1" *ngIf='!isDead'>
    <span class="pokemon-name">{{ attacker | titlecase }}</span> a attaqué 
    <span class="pokemon-name">{{ attacked | titlecase }}</span> 
    avec l'attaque <span class="attack-name">{{ attackName | titlecase }}</span> 
    lui infligeant <span style='color:red'>{{ damage }}</span> dégats
</span>
<span class="m-1" *ngIf='isDead'>
    <span class="pokemon-name">{{ attacker | titlecase }}</span> 
    a tué 
    <span class="pokemon-name">{{attacked | titlecase}}</span>,
    il remporte le combat
</span>
<hr>